.envelope-page {
  align-items: center;
  background-color: #fff;
  border: 10px solid;
  border-image: repeating-linear-gradient(
    -55deg,
    #ce5756 0px,
    #ce5756 40px,
    #fff 40px,
    #fff 80px,
    #5a799f 80px,
    #5a799f 120px,
    #fff 120px,
    #fff 160px
  );
  border-image-slice: 10;
  display: grid;
  font-family: 'Space Mono', monospace;
  grid-template-columns: max-content 1fr max-content;
  grid-template-rows: max-content 1fr max-content;
  height: 100vh;
  justify-items: center;
  padding: 2em;
}
.envelope-page__air-mail-sticker {
  grid-column: 1/2;
  grid-row: 2;
}
.envelope-page__open-letter {
  align-self: end;
  background-color: #ce5756;
  grid-column: 3/4;
  grid-row: 3;
  margin: 2em;
  text-decoration: none;
}
.envelope-page__open-letter:hover {
  background-color: #5a799f;
}
.envelope-page__receiver {
  font-size: 1.5rem;
  grid-column: 2/3;
  grid-row: 2;
}
.envelope-page__sender {
  grid-column: 1/2;
  grid-row: 1;
  padding: 1em;
}
.envelope-page__stamp {
  align-self: start;
  grid-column: 3/4;
  grid-row: 1;
}
