.envelope-page {
  align-items: center;
  background-color: #fff;
  border: 10px solid;
  border-image: repeating-linear-gradient(
    -55deg,
    #ce5756 0px,
    #ce5756 40px,
    #fff 40px,
    #fff 80px,
    #5a799f 80px,
    #5a799f 120px,
    #fff 120px,
    #fff 160px
  );
  border-image-slice: 10;
  display: grid;
  font-family: 'Space Mono', monospace;
  grid-template-columns: max-content 1fr max-content;
  grid-template-rows: max-content 1fr max-content;
  height: 100vh;
  justify-items: center;
  padding: 2em;
}
.envelope-page__air-mail-sticker {
  grid-column: 1/2;
  grid-row: 2;
}
.envelope-page__open-letter {
  align-self: end;
  background-color: #ce5756;
  grid-column: 3/4;
  grid-row: 3;
  margin: 2em;
  text-decoration: none;
}
.envelope-page__open-letter:hover {
  background-color: #5a799f;
}
.envelope-page__receiver {
  font-size: 1.5rem;
  grid-column: 2/3;
  grid-row: 2;
}
.envelope-page__sender {
  grid-column: 1/2;
  grid-row: 1;
  padding: 1em;
}
.envelope-page__stamp {
  align-self: start;
  grid-column: 3/4;
  grid-row: 1;
}

/* mobile */
@media only screen and (max-width: 813px) {
  .envelope-page {
    grid-template-columns: minmax(max-content, 1fr) minmax(100px, 125px);
    padding: 0.5em;
  }
  .envelope-page__sender {
    font-size: 0.8rem;
    grid-column: 1/2;
    grid-row: 1;
    justify-self: left;
  }
  .envelope-page__stamp {
    grid-column: 2/3;
    grid-row: 1;
  }
  .envelope-page__receiver {
    grid-column: 1/3;
    grid-row: 2;
    padding-left: 0;
    justify-self: center;
    align-self: center;
  }
  .envelope-page__air-mail-sticker {
    visibility: hidden;
  }
  .envelope-page__open-letter {
    grid-column: 2/3;
    grid-row: 3;
    justify-self: center;
    align-self: center;
  }
}
