.education-page {
  background-color: #fff;
  border: 1px solid #d3d3d3;
  box-shadow: 5px 5px 5px #d3d3d3;
  overflow-y: scroll;
  padding: 2em;
}
.education-page__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
}
.education-page__list-item {
  padding-bottom: 3em;
  text-align: center;
}
.education-page__list-item-name {
  font-family: 'Space Mono', monospace;
}
