.active {
  border-bottom: solid 3px #ce5756;
}
.link {
  background-color: #fff;
  color: inherit;
  text-decoration: none;
  padding: 1em;
}
.link:hover {
  background-color: #ce5756;
  color: #fff;
}
.navigation {
  display: flex;
  flex-wrap: wrap;
  font-family: 'Space Mono', monospace;
  gap: 1em;
  justify-content: center;
  padding-bottom: 1.5em;
}
@media only screen and (max-width: 813px) {
  .link {
    padding: 0.5em;
  }
}
