.stamp {
  background-color: #ccc;
  border: 2px dashed #fff;
  display: flex;
  flex-direction: column;
}
.stamp__text {
  align-self: center;
  color: #fff;
  padding: 0 1rem;
  text-align: center;
}
.heart-container {
  align-items: center;
  align-self: center;
  display: flex;
  height: 75px;
  justify-content: center;
  width: 75px;
  position: relative;
}
.square {
  background-color: red;
  display: block;
  height: 50%;
  position: relative;
  transform: rotate(-45deg);
  width: 50%;
}
.circle-left {
  background-color: red;
  border-radius: 50%;
  height: 100%;
  left: 0;
  position: absolute;
  top: -50%;
  width: 100%;
}
.circle-right {
  background-color: red;
  border-radius: 50%;
  height: 100%;
  position: absolute;
  right: -50%;
  top: 0;
  width: 100%;
}
.arm-left {
  background-color: red;
  height: 20%;
  width: 50%;
  left: -15%;
  position: absolute;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  transform: rotate(-20deg);
}
.arm-right {
  background-color: red;
  height: 20%;
  width: 50%;
  right: -15%;
  position: absolute;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  transform: rotate(20deg);
}
@media only screen and (max-width: 813px) {
  .stamp__text {
    font-size: 0.8rem;
  }
}
